In [60]:
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Bar
from streamlit_echarts import st_pyecharts
df = pd.read_csv("progress01.csv")

def _set_completion(df):
    df.loc[df["status"] == "Done", "Completion"] = 100
    df.loc[(df["status"] == "Break")|(df["status"] == "To Do"), "Completion"] = 0
    df.loc[df["status"] == "On Progress", "Completion"] = 50

def _task_completion(df, task):
    df = df[df["task"] == task]
    completion = df["Completion"].iloc[-1]
    return completion

def _planning_completion(df, planning):
    df = df[df["planning"] == planning]
    done_date = df["datetime_report"].iloc[-1]
    compl = []
    for i in df["task"].unique():
        compl.append(_task_completion(df, i))

    completion = sum(compl)/df["task_score"].iloc[-1]
    timedelta = done_date - df["end_date"].iloc[-1]
    if completion == 100:
        if timedelta.days > 0:
            status_completion = "Overdue"
        elif timedelta.days < 0:
            status_completion = "In Time"
        else:
            status_completion = "On Time"
    else:
        status_completion = "On Progress"

    ret = {
        "name": df["nama"].iloc[-1], 
        "planning": planning, 
        "completion": completion, 
        "status_completion": status_completion, 
        "report_date": done_date
    }
    return ret

def planning_summary(df):
    plans = df["planning"].unique()
    summary = []
    for i in plans:
        summary.append(_planning_completion(df, i))
    
    ret = pd.DataFrame(summary)
    return ret

def bar_status_completion(planning_summary):
    df = planning_summary[planning_summary["status_completion"] != "On Progress"]
    counting = df["status_completion"].value_counts()
    xaxis = counting.index.tolist()
    yaxis = counting.tolist()
    # bar = Bar("Status Completion")
    # bar.add("")

In [47]:
df_frey

,nama,planning,task_score,start_date,end_date,datetime_report,task,status,kendala,keterangan,Completion
0,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-15,slicing,Done,format yang berbeda dengan yang database,NaN,100.0
1,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-17,implementasi api,On Progress,format yang berbeda dengan yang database,NaN,50.0
2,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-19,implementasi api,On Progress,format yang berbeda dengan yang database,NaN,50.0
3,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-21,implementasi api,Break,format yang berbeda dengan yang database,NaN,0.0
4,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-23,implementasi api,Done,format yang berbeda dengan yang database,NaN,100.0

In [66]:
planning_summary(df_frey)

,name,planning,completion,status_completion,report_date
0,Frey,Membuat Halaman Usermanagement,100.0,On Time,2021-03-23

Terdapat 2 completion:

1. Project
2. Planning

apa yang ada di gantt project itu adalah planning. Nah dashboard ini adalah digunakna untuk menghitung completion per planning dimana masing-masing planning tentu memiliki turunan task lainnya. 

- completion 100 apabila sudah done apabila belum maka dianggap masih 0
-

In [28]:
df_frey["datetime_report"] = pd.to_datetime(df_frey["datetime_report"])

In [30]:
df_frey["start_date"] = pd.to_datetime(df_frey["start_date"])
df_frey["end_date"] = pd.to_datetime(df_frey["end_date"])

df_frey

,nama,planning,task_score,start_date,end_date,datetime_report,task,status,kendala,keterangan,Completion
0,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-15,slicing,Done,format yang berbeda dengan yang database,NaN,100.0
1,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-17,implementasi api,On Progress,format yang berbeda dengan yang database,NaN,50.0
2,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-19,implementasi api,On Progress,format yang berbeda dengan yang database,NaN,50.0
3,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-21,implementasi api,Break,format yang berbeda dengan yang database,NaN,0.0
4,Frey,Membuat Halaman Usermanagement,2,2021-03-15,2021-03-23,2021-03-23,implementasi api,Done,format yang berbeda dengan yang database,NaN,100.0

In [34]:
k=df_frey["end_date"].iloc[-1] - df_frey["start_date"].iloc[-1]

In [35]:
k.days

8

In [36]:
t1 = pd.to_datetime('1/1/2015 01:00')
t2 = pd.to_datetime('1/1/2015 03:30')

In [39]:
(t1-t2).days

-1

In [67]:
df = pd.read_csv("progress01.csv")

In [69]:
df["datetime_report"] = pd.to_datetime(df["datetime_report"])
df["start_date"] = pd.to_datetime(df["start_date"])
df["end_date"] = pd.to_datetime(df["end_date"])
df["datetime_report"] = pd.to_datetime(df["end_date"])

In [70]:
df.to_csv("progress01.csv", index=False)